<a href="https://colab.research.google.com/github/Az1mxoja/Colab/blob/main/%23_2_2_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = {
    'Yil': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
    'Aholi soni': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
    'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
}

In [ ]:
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [ ]:
df.head()

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [ ]:
df.shape

(8, 3)

In [ ]:
# Ustundagi ketma-ketlikni belgilash
df = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni'])

In [ ]:
df

    Yil  Temp  Aholi soni
0  2021  1.54        33.9
1  2020  1.48        33.5
2  2019  1.56        32.9
3  2018  1.62        32.5
4  2017  1.65        31.9
5  2016  1.66        31.4
6  2015  1.64        30.9
7  2010  1.53        28.5

In [ ]:
df = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'])
df

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN
5  2016  1.66        31.4  NaN
6  2015  1.64        30.9  NaN
7  2010  1.53        28.5  NaN

In [ ]:
df = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'], index=[1,2,3,4,5,6,7,8])
df

    Yil  Temp  Aholi soni YAIM
1  2021  1.54        33.9  NaN
2  2020  1.48        33.5  NaN
3  2019  1.56        32.9  NaN
4  2018  1.62        32.5  NaN
5  2017  1.65        31.9  NaN
6  2016  1.66        31.4  NaN
7  2015  1.64        30.9  NaN
8  2010  1.53        28.5  NaN

In [ ]:
aholi = df['Aholi soni']
aholi

1    33.9
2    33.5
3    32.9
4    32.5
5    31.9
6    31.4
7    30.9
8    28.5
Name: Aholi soni, dtype: float64

In [ ]:
temp = df['Temp']
temp

1    1.54
2    1.48
3    1.56
4    1.62
5    1.65
6    1.66
7    1.64
8    1.53
Name: Temp, dtype: float64

In [ ]:
yil = df['Yil']
yil

1    2021
2    2020
3    2019
4    2018
5    2017
6    2016
7    2015
8    2010
Name: Yil, dtype: int64

In [ ]:
type(aholi)

pandas.core.series.Series

In [ ]:
df.Temp

1    1.54
2    1.48
3    1.56
4    1.62
5    1.65
6    1.66
7    1.64
8    1.53
Name: Temp, dtype: float64

In [ ]:
df.Yil

1    2021
2    2020
3    2019
4    2018
5    2017
6    2016
7    2015
8    2010
Name: Yil, dtype: int64

In [ ]:
df.YAIM = 0

In [ ]:
df

    Yil  Temp  Aholi soni  YAIM
1  2021  1.54        33.9     0
2  2020  1.48        33.5     0
3  2019  1.56        32.9     0
4  2018  1.62        32.5     0
5  2017  1.65        31.9     0
6  2016  1.66        31.4     0
7  2015  1.64        30.9     0
8  2010  1.53        28.5     0

In [ ]:
val = pd.Series([1700, 1650, 1300], index=[1,2,8])
df.YAIM = val

In [ ]:
df

    Yil  Temp  Aholi soni    YAIM
1  2021  1.54        33.9  1700.0
2  2020  1.48        33.5  1650.0
3  2019  1.56        32.9     NaN
4  2018  1.62        32.5     NaN
5  2017  1.65        31.9     NaN
6  2016  1.66        31.4     NaN
7  2015  1.64        30.9     NaN
8  2010  1.53        28.5  1300.0

In [ ]:
val = [1700, 1670, 1600, 1590, 1400, 1300, 1350, 1360]
df.YAIM = val

In [ ]:
df

    Yil  Temp  Aholi soni  YAIM
1  2021  1.54        33.9  1700
2  2020  1.48        33.5  1670
3  2019  1.56        32.9  1600
4  2018  1.62        32.5  1590
5  2017  1.65        31.9  1400
6  2016  1.66        31.4  1300
7  2015  1.64        30.9  1350
8  2010  1.53        28.5  1360

In [ ]:
df['1500+'] = df.YAIM>1500
df

    Yil  Temp  Aholi soni  YAIM  1500+
1  2021  1.54        33.9  1700   True
2  2020  1.48        33.5  1670   True
3  2019  1.56        32.9  1600   True
4  2018  1.62        32.5  1590   True
5  2017  1.65        31.9  1400  False
6  2016  1.66        31.4  1300  False
7  2015  1.64        30.9  1350  False
8  2010  1.53        28.5  1360  False

In [ ]:
del df['1500+']
df

    Yil  Temp  Aholi soni  YAIM
1  2021  1.54        33.9  1700
2  2020  1.48        33.5  1670
3  2019  1.56        32.9  1600
4  2018  1.62        32.5  1590
5  2017  1.65        31.9  1400
6  2016  1.66        31.4  1300
7  2015  1.64        30.9  1350
8  2010  1.53        28.5  1360

In [ ]:
del df['Temp']
df

    Yil  Aholi soni  YAIM
1  2021        33.9  1700
2  2020        33.5  1670
3  2019        32.9  1600
4  2018        32.5  1590
5  2017        31.9  1400
6  2016        31.4  1300
7  2015        30.9  1350
8  2010        28.5  1360

In [ ]:
val = df.YAIM>1500
df['1500+'] = val
df

    Yil  Aholi soni  YAIM  1500+
1  2021        33.9  1700   True
2  2020        33.5  1670   True
3  2019        32.9  1600   True
4  2018        32.5  1590   True
5  2017        31.9  1400  False
6  2016        31.4  1300  False
7  2015        30.9  1350  False
8  2010        28.5  1360  False

In [ ]:
df['Aholi soni'] = 'Aholi_soni'
df

    Yil  Aholi soni  YAIM  1500+
1  2021  Aholi_soni  1700   True
2  2020  Aholi_soni  1670   True
3  2019  Aholi_soni  1600   True
4  2018  Aholi_soni  1590   True
5  2017  Aholi_soni  1400  False
6  2016  Aholi_soni  1300  False
7  2015  Aholi_soni  1350  False
8  2010  Aholi_soni  1360  False

In [ ]:
aholi = [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5]
df['Aholi soni'] = aholi
df

    Yil  Aholi soni  YAIM  1500+
1  2021        33.9  1700   True
2  2020        33.5  1670   True
3  2019        32.9  1600   True
4  2018        32.5  1590   True
5  2017        31.9  1400  False
6  2016        31.4  1300  False
7  2015        30.9  1350  False
8  2010        28.5  1360  False

## Lug'atdan DataFrame yaratish

In [ ]:
data = {
    "Uzbekistan": {2021:33.9,
                   2020:33.5,
                   2019:32.9,
                   2018:32.5,
                   2017:31.9},
        
    'Kazakhstan': {2021:18.9,
                   2020:18.7,
                   2019:18.5,
                   2018:18.3,
                   2017:18.1,
                   2016:17.8}
}
data

{'Uzbekistan': {2021: 33.9, 2020: 33.5, 2019: 32.9, 2018: 32.5, 2017: 31.9},
 'Kazakhstan': {2021: 18.9,
  2020: 18.7,
  2019: 18.5,
  2018: 18.3,
  2017: 18.1,
  2016: 17.8}}

In [ ]:
df2 = pd.DataFrame(data)

In [ ]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
# Belgilangan ma'lumotlarni olish
df2 = pd.DataFrame(data, index=[2021,2019,2017])

In [ ]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [ ]:
df2.T

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [ ]:
df2 = df2.T
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [ ]:
df2.values.T

array([[33.9, 32.9, 31.9],
       [18.9, 18.5, 18.1]])